<br>
<div class="row">
  <div class="col s8">
    <%= form_for :user, method: :patch, url: user_path(@user) do |f| %>
      <div class="field">
        <h5>Choose a New Profile Picture</h5>
        <%= f.file_field :avatar %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Update Profile Picture", class: "btn" %>
      </div>
    <% end %>
  </div>
</div>
