<% if flash[:error] %>
  <%= flash[:error] %>
<% end %>
<div id="word_list">
  <% @words.each do |word| %>
    <li>Word:<%= link_to word.word, word_path(word.id) %></li>
  <% end %>
</div>
<div>
  <%= paginate @words %>
</div>
