<div id="flash_bar" class="row">
  <% if flash[:error] %>
    <h5 class="center-align"><%= flash[:error] %></h5>
  <% end %>
</div>

<h1>All Words on WordUp</h1>

<div id="app">
</div>
<div id="index_div">
  <% @words.each do |word| %>
    <li><%= link_to word.word, word_path(word.id) %></li>
  <% end %>
</div>
<div>
  <%= paginate @words %>
</div>
